@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes pulse {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.8);
    }
}

.animate-pulster {
    animation: spin 12s linear infinite;
    cursor: pointer;
}

.animate-pulster:hover {
    animation: pulse 3s linear infinite;

}

.donateTxt {
    pointer-events: none;
}